<a href="https://colab.research.google.com/github/nyoman123/Pembelajaran-Mesin/blob/master/text_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [154]:

%cd /content/drive/My Drive/Colab Notebooks/PEMBELAJARAN MESIN

/content/drive/My Drive/Colab Notebooks/PEMBELAJARAN MESIN

In [155]:
ls

'TEXT NAIVE BAYES'/

In [156]:
%cd /content/drive/My Drive/Colab Notebooks/PEMBELAJARAN MESIN/TEXT NAIVE BAYES

/content/drive/My Drive/Colab Notebooks/PEMBELAJARAN MESIN/TEXT NAIVE BAYES

In [157]:
ls

 data.csv  'text classification.ipynb'

In [158]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [159]:
data = pd.read_csv('data.csv')
data

   No                                   Title of Article Interesting
0   1  oracle open sources java machine learning library         yes
1   2           the reason trump not trying save economy          no
2   3      it fed day time for the economy to get tuneup          no
3   4  auto ml bridging skill gaps with machine learning         yes
4   5    donald trump chance to peel off hispanic voters          no
5   6  definining ai machine learning deep learning m...         yes
6   7  ai machine learning tool can help separate cov...         yes
7   8               dbs taking machine learning for spin         yes
8   9  deepmind introduce machine learning model impr...         yes
9  10    we must use covid crisis rehape society economy          no

In [160]:
from sklearn.feature_extraction.text import CountVectorizer
yes = [row['Title of Article'] for i, row in data.iterrows() if row['Interesting'] == 'yes']
vec_yes = CountVectorizer()
X_yes = vec_yes.fit_transform(yes)
tabel_yes = pd.DataFrame(X_yes.toarray(), columns=vec_yes.get_feature_names())
tabel_yes

   ai  auto  bridging  can  claim  ...  sources  spin  taking  tool  with
0   0     0         0    0      0  ...        1     0       0     0     0
1   0     1         1    0      0  ...        0     0       0     0     1
2   1     0         0    0      0  ...        0     0       0     0     0
3   1     0         0    1      1  ...        0     0       0     1     0
4   0     0         0    0      0  ...        0     1       1     0     0
5   0     0         0    0      0  ...        0     0       0     0     0

[6 rows x 34 columns]

In [161]:
no = [row['Title of Article'] for i, row in data.iterrows() if row['Interesting'] == 'no']
vec_no = CountVectorizer()
X_no = vec_no.fit_transform(no)
tabel_no = pd.DataFrame(X_no.toarray(), columns=vec_no.get_feature_names())
tabel_no

   chance  covid  crisis  day  donald  ...  trying  tuneup  use  voters  we
0       0      0       0    0       0  ...       1       0    0       0   0
1       0      0       0    1       0  ...       0       1    0       0   0
2       1      0       0    0       1  ...       0       0    0       1   0
3       0      1       1    0       0  ...       0       0    1       0   1

[4 rows x 28 columns]

In [162]:
word_list_y = vec_y.get_feature_names()
count_list_y = X_y.toarray().sum(axis=0)
freq_y = dict(zip(word_list_y, count_list_y))
freq_y

{'ai': 2,
 'auto': 1,
 'bridging': 1,
 'can': 1,
 'claim': 1,
 'covid': 1,
 'dbs': 1,
 'deep': 1,
 'deepmind': 1,
 'definining': 1,
 'for': 1,
 'gaps': 1,
 'google': 1,
 'help': 1,
 'improve': 1,
 'introduce': 1,
 'java': 1,
 'learning': 7,
 'library': 1,
 'machine': 6,
 'maps': 1,
 'martech': 1,
 'ml': 1,
 'model': 1,
 'open': 1,
 'oracle': 1,
 'related': 1,
 'separate': 1,
 'skill': 1,
 'sources': 1,
 'spin': 1,
 'taking': 1,
 'tool': 1,
 'with': 1}

In [163]:
word_list_n = vec_n.get_feature_names()
count_list_n = X_n.toarray().sum(axis=0)
freq_n = dict(zip(word_list_n, count_list_n))
freq_n

{'chance': 1,
 'covid': 1,
 'crisis': 1,
 'day': 1,
 'donald': 1,
 'economy': 3,
 'fed': 1,
 'for': 1,
 'get': 1,
 'hispanic': 1,
 'it': 1,
 'must': 1,
 'not': 1,
 'off': 1,
 'peel': 1,
 'reason': 1,
 'rehape': 1,
 'save': 1,
 'society': 1,
 'the': 2,
 'time': 1,
 'to': 2,
 'trump': 2,
 'trying': 1,
 'tuneup': 1,
 'use': 1,
 'voters': 1,
 'we': 1}

In [164]:
prob_y = []
for word, count in zip(word_list_y, count_list_y):
    prob_y.append(count/len(word_list_y))
dict(zip(word_list_y, prob_y))

{'ai': 0.058823529411764705,
 'auto': 0.029411764705882353,
 'bridging': 0.029411764705882353,
 'can': 0.029411764705882353,
 'claim': 0.029411764705882353,
 'covid': 0.029411764705882353,
 'dbs': 0.029411764705882353,
 'deep': 0.029411764705882353,
 'deepmind': 0.029411764705882353,
 'definining': 0.029411764705882353,
 'for': 0.029411764705882353,
 'gaps': 0.029411764705882353,
 'google': 0.029411764705882353,
 'help': 0.029411764705882353,
 'improve': 0.029411764705882353,
 'introduce': 0.029411764705882353,
 'java': 0.029411764705882353,
 'learning': 0.20588235294117646,
 'library': 0.029411764705882353,
 'machine': 0.17647058823529413,
 'maps': 0.029411764705882353,
 'martech': 0.029411764705882353,
 'ml': 0.029411764705882353,
 'model': 0.029411764705882353,
 'open': 0.029411764705882353,
 'oracle': 0.029411764705882353,
 'related': 0.029411764705882353,
 'separate': 0.029411764705882353,
 'skill': 0.029411764705882353,
 'sources': 0.029411764705882353,
 'spin': 0.029411764705882353,
 'taking': 0.029411764705882353,
 'tool': 0.029411764705882353,
 'with': 0.029411764705882353}

In [165]:
prob_n = []
for word, count in zip(word_list_n, count_list_n):
    prob_n.append(count/len(word_list_n))
dict(zip(word_list_n, prob_n))

{'chance': 0.03571428571428571,
 'covid': 0.03571428571428571,
 'crisis': 0.03571428571428571,
 'day': 0.03571428571428571,
 'donald': 0.03571428571428571,
 'economy': 0.10714285714285714,
 'fed': 0.03571428571428571,
 'for': 0.03571428571428571,
 'get': 0.03571428571428571,
 'hispanic': 0.03571428571428571,
 'it': 0.03571428571428571,
 'must': 0.03571428571428571,
 'not': 0.03571428571428571,
 'off': 0.03571428571428571,
 'peel': 0.03571428571428571,
 'reason': 0.03571428571428571,
 'rehape': 0.03571428571428571,
 'save': 0.03571428571428571,
 'society': 0.03571428571428571,
 'the': 0.07142857142857142,
 'time': 0.03571428571428571,
 'to': 0.07142857142857142,
 'trump': 0.07142857142857142,
 'trying': 0.03571428571428571,
 'tuneup': 0.03571428571428571,
 'use': 0.03571428571428571,
 'voters': 0.03571428571428571,
 'we': 0.03571428571428571}

In [166]:
articles = [row['Title of Article'] for i, row in data.iterrows()]

vec = CountVectorizer(binary=True)
X_all = vec.fit_transform(articles)
total_features = len(vec.get_feature_names())
total_features

60

In [167]:
X_all.data

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [168]:
len(vec.get_feature_names())

60

In [169]:
total_count_features_y = count_list_y.sum(axis=0)
total_count_features_n = count_list_n.sum(axis=0)
print(total_count_features_y)
print(total_count_features_n)

46
33

In [170]:
text_1 = 'system target ai adoption challenge machine learning builder'
split_text_1 = text_1.split()
text_2 = 'trump destroying economy though'
split_text_2 = text_2.split()

In [171]:
prob_text_1yes = []
for word in split_text_1:
    if word in freq_y.keys():
        count = freq_y[word]
    else:
        count = 0
    print(word, count, count+1, total_count_features_y, total_features, total_count_features_y+total_features)
    prob_text_1yes.append((count+1)/(total_count_features_y+total_features))
dict(zip(split_text_1, prob_text_1yes))

system 0 1 46 60 106
target 0 1 46 60 106
ai 2 3 46 60 106
adoption 0 1 46 60 106
challenge 0 1 46 60 106
machine 6 7 46 60 106
learning 7 8 46 60 106
builder 0 1 46 60 106

{'adoption': 0.009433962264150943,
 'ai': 0.02830188679245283,
 'builder': 0.009433962264150943,
 'challenge': 0.009433962264150943,
 'learning': 0.07547169811320754,
 'machine': 0.0660377358490566,
 'system': 0.009433962264150943,
 'target': 0.009433962264150943}

In [172]:

prob_text_1no = []
for word in split_text_1:
    if word in freq_n.keys():
        count = freq_n[word]
    else:
        count = 0
    print(word, count, count+1, total_count_features_n, total_features, total_count_features_y+total_features)
    prob_text_1no.append((count+1)/(total_count_features_n+total_features))
dict(zip(split_text_1, prob_text_1no))

system 0 1 33 60 106
target 0 1 33 60 106
ai 0 1 33 60 106
adoption 0 1 33 60 106
challenge 0 1 33 60 106
machine 0 1 33 60 106
learning 0 1 33 60 106
builder 0 1 33 60 106

{'adoption': 0.010752688172043012,
 'ai': 0.010752688172043012,
 'builder': 0.010752688172043012,
 'challenge': 0.010752688172043012,
 'learning': 0.010752688172043012,
 'machine': 0.010752688172043012,
 'system': 0.010752688172043012,
 'target': 0.010752688172043012}

In [173]:
prob_text_2yes = []
for word in split_text_2:
    if word in freq_y.keys():
        count = freq_y[word]
    else:
        count = 0
    print(word, count, count+1, total_count_features_y, total_features, total_count_features_y+total_features)
    prob_text_2yes.append((count+1)/(total_count_features_y+total_features))
dict(zip(split_text_2, prob_text_2yes))

trump 0 1 46 60 106
destroying 0 1 46 60 106
economy 0 1 46 60 106
though 0 1 46 60 106

{'destroying': 0.009433962264150943,
 'economy': 0.009433962264150943,
 'though': 0.009433962264150943,
 'trump': 0.009433962264150943}

In [174]:
prob_text_2no = []
for word in split_text_2:
    if word in freq_n.keys():
        count = freq_n[word]
    else:
        count = 0
    print(word, count, count+1, total_count_features_n, total_features, total_count_features_y+total_features)
    prob_text_2no.append((count+1)/(total_count_features_n+total_features))
dict(zip(split_text_2, prob_text_2no))

trump 2 3 33 60 106
destroying 0 1 33 60 106
economy 3 4 33 60 106
though 0 1 33 60 106

{'destroying': 0.010752688172043012,
 'economy': 0.043010752688172046,
 'though': 0.010752688172043012,
 'trump': 0.03225806451612903}

In [175]:
print(text_1)
if np.prod(prob_text_1yes)>np.prod(prob_text_1no):
  print('interesting = yes')
else:
  print('interesting = no')

system target ai adoption challenge machine learning builder
interesting = yes

In [176]:
print(text_2)
if np.prod(prob_text_2yes)>np.prod(prob_text_2no):
  print('interesting = yes')
else:
  print('interesting = no')

trump destroying economy though
interesting = no